
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


 #showimage{
  background-image:url("../img/doctor.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
   height:100vh;
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
   text-align:center;
   padding:0px 20px;
 }

 #showimage .text1{
   color: rgb(23, 22, 32); 
   font-size:36px;
   font-family: 'Arial Black', Gadget, sans-serif;
   font-weight:900;
   padding:20px;
  }
 #showimage .text2{ 
   color:rgb(23, 22, 32);
   font-size:26px;
   padding:20px;
  
  }
 
  #showimage .button{
    background-color:blue;
    color:white;
    font-size:18px;
    border:none ;
    width:20%;
    border-radius:16PX;
    cursor:pointer;
    padding:10px;
    text-decoration:none;
  }

  
   
  #showimage .button:hover{
    background-color: blueviolet;
    color:white;
}

.nav-content p{
  font-size: 17px;
  margin: 15px 0 17px;
  color:#262d37;
}

.nav-content a{
text-decoration:none;
font-size:16px;
}

 /*============ steps====================*/
 .steps{
  height:500px;
  padding:40px 0px;
  /*background: linear-gradient(#f0f1f8,#d8d9df);*/
}
.steps p {
    text-align:center;
    color: #08243b;
    font-style:italic;
    font-weight: 600;
    font-size:24px;
   
}

.row{
    margin:auto;
    width:80%;
    display:flex;
    flex-direction:row;
}

.col{
    margin:30px;
    border:1px groove #eee;
    flex:1;
}
article{
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, .5);
}

article header {
  background:rgba(250, 253, 253, 0.993);
  text-align: center;
  padding: 10px 20px 10px;
  border-bottom: 3px solid #efefef;
  color: #3A405B;
  font-size: 18px;
}


article .content img{
background:#fff;
height:200px;
width:100%;

}

.col article footer{
background-color:#2e44c1;
color: #fff;
text-align:center;
padding: 12px ;
font-size:18px;
border-radius:0px 0px 4px 2px;
}


 /*===================== modal ====================*/
  .modal{
display:none;
position: fixed; 
z-index: 1; 
left: 0;
top: 0;
width: 100%; 
height: 100%; 
overflow: auto; 
background: rgba(58, 64, 91, 0.71);
padding-top: 50px;

}

.modal-content{
background-color: #fff;
width:50%;
margin:auto;
}


.nav-content{
    text-align:center;
    padding:30px 50px;
   
}

.nav-content h3{
    font-size: 23px;
    color: #3B55E6;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    
    
}
.nav-content p{
    font-size: 16px;
    margin: 0 0 17px;
}

 .form-control {
    display:block;
    height:36px;
    margin-top:6px;
    margin-bottom:16px;
    width:100%;
    padding:6px 12px;
    font-size:16px;
    color:#555;
    resize:vertical;
    box-sizing: border-box;
    border:1px solid #ccc;
    border-radius:4px;
 }

 .form-control :focus{
    box-shadow:  0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
 }

 label{
     color:#3A405B;
     display:block;
     margin-bottom:20px;
     text-align:left;
     padding:5px;
     text-transform: uppercase;
     font-weight: normal;
}
 
 input[type=checkbox]{
     margin:4px;
     
 }
 .remember-password{
     text-decoration:none;
     color: #000; 
 }

  .btn-connexion{
    background-color: #4BE1AB;
    display:block;
    width:100%;
    padding:12px 20px;
    border-radius: 4px;
    margin-top:5px;
    color:#fff;
    font-size:18px;
    cursor:pointer;
    text-align:center;
    border:none;
 }
 .btn-connexion :hover{
    background-color: #398439;
 }
 